<footer>
    <div class="main">
            <div class="socal-media">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>

            </div>
            <div class="company-name">
                &copy;House-Renty Private Limited.
            </div>
            <div class="links">
                <a href="/privacy">Privacy</a>
                <a href="/Terms">Terms</a>
            </div>
    </div>
</footer>